/**normalize css**/
html{
box-sizing: border-box;
font-size:62.5%;
}

*,* ::before, ::after{
box-sizing: inherit;
}

body{
font-family:'relaway', sans-serif ;
font-size:1.6rem;
line-height:2;
}



/** globales**/
.contenedor{
max-width:120rem; 
}